body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.home .post {
  overflow: hidden;
  display: flex;
  padding: 25px 20px;
}

.home .post:hover { 
  box-shadow: 2px 4px 7px 0px #8080808a;
}

.home .post img {
  width: 120px;
}

.home .purple-text {
  text-transform: capitalize;
}

.home .card-body {
  color: darkslategray;
}

.home .card-body::first-letter {
  text-transform: uppercase;
}